[submodule "docs/_site"]
	path = docs/_site
	url = https://github.com/veracity-engineering/SolutionPackageDoc.git
	branch = gh-pages
[submodule "docs/articles"]
	path = docs/articles
	url = https://github.com/veracity-engineering/SolutionPackageDoc.wiki.git
	branch = master
