@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Identity:</h1>
    <p>Name: @ViewData["Name"]</p>
    <p>Country: @ViewData["Country"]</p>
    <p>City: @ViewData["City"]</p>
    <p></p>
</div>
