@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="useridentity">
        <h1>Input Identity Information:</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td><input name="name" /></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input name="country" /></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input name="city" /></td>
            </tr>
        </table>               
        <button type="submit">Send</button>
    </form>    
</div>
