@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>User Identity:</p>
    <div>
        <span>Name: @ViewData["Name"]</span>
    </div>
    <div>
        <span>Country: @ViewData["Country"]</span>
    </div>
    <div>
        <span>City: @ViewData["City"]</span>
    </div>
</div>
